.card{
  width: 100%;
  background-color: white;
  color: black;
  
  margin-bottom: 8px;
  padding: 6px;
  border-radius: 5px;
  cursor: pointer;
  transition: all ease-in-out .4s;

  
  &:hover{
    background-color: #cacaca;
  }
  
}

@media (max-width: 768px){
  .card {
    font-size: 14px;
  }
}

@media (max-width: 320px){
  .card {
    font-size: 8px;
    font-weight: 500;
  }
}