#headerGlobal{
  width: 100%;
  height: 70px;
  padding: 10px 15px;
  box-shadow: 0 0 15px 0.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a{
    text-decoration: none;
    img{
      max-height: 40px;
    }
  }

  .userInfo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
  }

  .sidebarLogout{
    width: 195px;
    height: 0px;
    position: fixed;
    z-index: 5;
    top: 70px;
    right: 13px;
    padding: 15px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: 
    #f8f8f8;
    box-shadow: 0px 5px 5px 0 #00000070;
    overflow-y: hidden;

    opacity: 0;
    visibility: hidden;
    transition: all .5s;

    .btnLogout{
      display: flex;
      align-items: center;
      gap: 5px;
      font-size: 18px;
      background-color: white;
      color: red;
      font-weight: 600;
      padding: 5px 15px;
      border-radius: 10px;
      border: 1px solid red;
      cursor: pointer;
    }

    .btnLogout:hover{
      color: white;
      background-color: red;
      border: none;
      transition: all 0.5s ease-in;
    }
  }

  .showSidebarLogout{
    visibility: visible;
    height: 80px;
    opacity: 1;
  }
}

@media (max-width: 320px){
  #headerGlobal{
    > img{
      height: 30px;
    }
  }
  .userInfo{
    font-size: 10px;
    #userCircle{
      width: 24px;
    }
  }
}