.containerCourseMonth{
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  margin-top: 60px;
  

  .backButtonCourseMounth{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 20px;
    transition: all .4s ease-in-out;

    &:hover{
      background-color: rgb(200, 200, 200);
    }
  }

  .buttonCoursesMonth{
    background-color: #ec8423;
    font-weight: 600;
    width: 20%;
    cursor: pointer;
    transition: all ease-in-out .4s ;
    
    &:hover{
      background-color: white;
      color: #ec8423;
      border: solid #ec8423 1px;
      box-shadow: none;
    }
  }

}

table td, table th, table tr{
  border: 1px solid gray;
  padding: 5px;
}