#mainAdm{
  display: flex;
  position: relative;
  width: 100%;
  // padding: 20px;
}

.contentMain{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.caseCancelledCourse{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 15px;
  top: calc(50% - 110px) ;

  >p{
    font-size: 18px;
  }
}

.initialText{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}