.listStudents{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 900px;
  width: 100%;
  gap:  25px 50px;
  align-items: baseline;
}

.student{
  display: flex;
  width: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.isPaid{
  color: #ec8423;
}

.isPresent{
  color: #1bd741;
}