.listStudents{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 900px;
  width: 100%;
  gap:  25px 50px;
  
  
}

.student{
  display: flex;
  width: 60px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}